# Instructions

For the second part of the assignment today, we're going to get a little bit of practice with `Pandas`. We'll ask that you do a couple of different things using the new tools that we learned about (methods for combining data sets, `pd.cut`, and `pivot tables`).

# Assignment Questions

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data (**Hint**: See `day10-intro_pandas`, `week5` if you need a refresher on these). 

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.  
   
   
4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in ** the top bin in terms of fixed acidity. 

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this. 
 
6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [6]:
import pandas as pd
import numpy as np
dfw = pd.read_csv('data/winequality-white.csv', sep = ';')
dfr = pd.read_csv('data/winequality-red.csv', sep = ';')
dfw.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [98]:
meanalcw = dfw['alcohol'].mean()
meanalcr = dfr['alcohol'].mean()
dfwamc['highalc'] = dfw['alcohol'] > meanalcw
dframc['highalc'] = dfr['alcohol'] > meanalcr
dfwamc
#dfwa = dfw.join(dfwamc)
#dfra = dfr.join(dframc)
#dfwa = pd.merge(dfw, dfwamc, left_index = True, right_index = True)
#dfra = pd.merge(dfr, dframc, left_index = True, right_index = True)
dfwa = pd.concat([dfw, dfwamc], axis = 1)
dfra = pd.concat([dfr, dframc], axis = 1)
#dfr.join(dframc)
#dftam = dfwam.join(dfram)
#dfwa
dfwaF = dfwa[dfwa['highalc'] == False]
dfraF = dfra[dfra['highalc'] == False]

In [144]:
#meanalcw = dfw['alcohol'].mean()
#meanalcr = dfr['alcohol'].mean()
wfmax = dfw['fixed acidity'].max()
wfmin = dfw['fixed acidity'].min()
binsw = np.arange(wfmin, wfmax, step = -(wfmin - wfmax)/6)
rfmax = dfr['fixed acidity'].max()
rfmin = dfr['fixed acidity'].min()
binsr = np.arange(rfmin, rfmax, step = -(rfmin - rfmax)/6)
dfwfdb = pd.cut(dfw['fixed acidity'], bins = binsw, labels = [1,2,3,4,5])
dfrfdb = pd.cut(dfr['fixed acidity'], bins = binsr, labels = [1,2,3,4,5])
dfwfdb.name = 'fa_bin'
dfrfdb.name = 'fa_bin'
dfwfd = dfw.join(dfwfdb)
dfrfd = dfr.join(dfrfdb)
dfwf = pd.concat([dfw, dfwfdb], axis = 1)
dfrf = pd.concat([dfr, dfrfdb], axis = 1)

dfwfL = dfwf[dfwf['fa_bin'] != dfwf['fa_bin'].max()]
dfrfL = dfrf[dfrf['fa_bin'] != dfrf['fa_bin'].max()]
#dfwfL

In [124]:
dfwaTq = dfwa[dfwa['highalc'] == True]#.groupby('quality').mean()
dfraTq = dfra[dfra['highalc'] == True]#.groupby('quality').mean()
pivw = pd.pivot_table(dfwaTq, values= 'alcohol', index='quality', aggfunc=np.mean)
pivr = pd.pivot_table(dfraTq, values= 'alcohol', index='quality', aggfunc=np.mean)
#dfwaTq

In [151]:
dfwfad = dfwfd.join(dfwamc)
dfrfad = dfrfd.join(dframc)
dfwaFt = dfwfad[dfwfad['highalc'] == False]#.groupby('quality').mean()
dfraFt = dfrfad[dfrfad['highalc'] == False]#.groupby('quality').mean()
#dfwaFt.tail()
pivwt = pd.pivot_table(dfwaFt, values= 'alcohol', index='quality', columns = 'fa_bin', aggfunc=np.mean)
pivrt = pd.pivot_table(dfraFt, values= 'alcohol', index='quality', columns = 'fa_bin', aggfunc=np.mean)
pivrt

fa_bin           1          2          3          4         5
quality
3              NaN   9.912500        NaN   9.100000       NaN
4         9.966667   9.547222   9.612500   9.966667  9.600000
5         9.617857   9.606309   9.557813   9.707143  9.727273
6        10.090000   9.673669   9.827206   9.781667  9.766667
7        10.050000   9.910000  10.040000  10.060000  9.933333
8              NaN  10.000000        NaN        NaN  9.800000